.section {
  padding: 15px;
}

.section__h1 {
  text-align: center;
  font-size: 22px;
  color: hsl(180, 25%, 35%);
}

.section__paragraph {
  font-size: 20px;
  padding: 5px;
}

.section--bold {
  font-weight: bold;
}

.section__button {
  background-color: hsl(0, 0%, 83%);
  border-style: none;
  font-size: 14px;
  padding: 8px;
  margin: 5px;
  cursor: context-menu; 
}

.section__button:active {
  transform: scale(1.1);
}

.section__button--link {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
  cursor: context-menu;
}

.section__button--size {
  font-size: 22px;
}

.section__span--lightslategray {
  color: hsl(210, 14%, 53%);
}

.section__span--aqua {
  color: hsl(180, 100%, 35%);
}

.section__span--aqua--light {
  color: hsl(180, 100%, 45%);
}

.section__span--coral--dark {
  color: hsl(16, 100%, 55%);
}

.section__span--coral {
  color: hsl(16, 100%, 66%);
}

.section__span--coral--light {
  color: hsl(16, 100%, 88%);
}

.section__video--paragraph {
  width: 100%;
  text-align: center;
}

.iframe__container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe__container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}